**/__pycache__/
data
models
**/*.html
**/*.pdf
*.sif
data/
outs/
**/.*.*.swp
.nfs*
**/*.pdf
plots
.python-version
env
logs/
runs/
**/.R*
mlruns/
wandb/
.env
.labml.yaml
bib/
**/*.aux
**/*.bbl
**/*.blg
**/*.log
**/*.out
**/*.pdf
